.App {
  text-align: center;
}

.button {
  background: #FF651C;
  color: #fff;
  box-shadow: 6px 6px 0 -1px #373737;
  padding: 5px 20px;
  border: 2px solid #FF651C;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: ease all 0.35s;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background: #373737;
  border-color: #373737;
  color: #fff;
  box-shadow: 6px 6px 0 -1px #FF651C;
}